.Header {
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e2e2e2;
}

.Header > div {
  flex: 1;
}

.Header .header_center {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}